# Security settings for SSH clients.
#
# Generate SSH key: ssh-keygen -t ed25519 -o -a 100
#
# List key exchange support: ssh -Q kex

Host *
  ForwardAgent no        # prevent accidental agent forwarding
  ForwardX11 no          # disable X11 forwarding
  HashKnownHosts no      # plain-text ~/.ssh/known_hosts file
  ServerAliveInterval 60 # every 60 seconds send keepalive message to server
  ServerAliveCountMax 3  # re-try 3 times before terminating a flaky connection
  # Use OpenSSH defaults for algorithms.
