# Security settings for SSH servers.
#
# Append these values to the end of /etc/ssh/sshd_config
#
# Restart sshd: sudo systemctl restart ssh or sudo systemctl restart sshd
#
# NOTE: Please comment out ALL HostKey directives at the top of the sshd_config
# file. We only want to support Ed25519.

# OVERIDES
PasswordAuthentication no
PermitRootLogin no
UseDNS no
HostKey /etc/ssh/ssh_host_ed25519_key
# Use OpenSSH defaults for algorithms.
