# HTML boilerplate
snippet html
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>$1</title>
      <link rel="stylesheet" href="style.css">
    </head>
    <body>
	  <script src="index.js"></script>
	  $2
    </body>
  </html>

#-------------------------------------------------------------------------

# Script tag
snippet script
  <script src="$1"></script>
