# HTML boilerplate
snippet html
  <!DOCTYPE html>
  <html>
    <head>
      <title>$1</title>
    </head>
    <body>
      $2
    </body>
  </html>

#-------------------------------------------------------------------------

# Script tag
snippet script
  <script src="$1"></script>
