# Console log
snippet log
  console.log($1)

#-------------------------------------------------------------------------

# Arrow function
snippet af
  const ${1:function} = (${2:args}) => {
    $3
  }

#-------------------------------------------------------------------------

# Plain function
snippet fn
  ${1:function} (${2:args}) {
    $3
  }

#-------------------------------------------------------------------------

# Individual test
snippet it
  it('$1', () => {
    $2
  })

#-------------------------------------------------------------------------

# React class component
snippet rcc
  import React, { Component } from 'react'
  import PropTypes from 'prop-types'

  class ${1:Component} extends Component {
    constructor (props) {
      super(props)
    }

    render () {
      return (
        $2
      )
    }
  }

  //$1.propTypes = {
  //}

  export default $1

#-------------------------------------------------------------------------

# React functional component
snippet rfc
  import React from 'react'
  import PropTypes from 'prop-types'

  const ${1:Component} = ({ $2 }) => {
    $3
  }

  //$1.propTypes = {
  //}

  export default $1

#-------------------------------------------------------------------------

# Jest boilerplate
snippet jest
  import React from 'react'
  import { shallow } from 'enzyme'
  import ${1:Component} from '../../components/$1'

  describe('<$1 />', () => {
    it('renders without crashing', () => {
      shallow(<$1 />)
    })

    $2
  })

#-------------------------------------------------------------------------

# Individual test
snippet test
  it('$1', () => {
    $2"
  })
