* text=auto
*.hh text
*.cc text
*.icc text
*.tcc text
*.h text
*.c text
*akefile text
*.txt text
*.man text
*.sh text
*.bat text
*.java text
*.groovy text
*.py text
*.rb text
*.cs text
*.html text
*.xml text
*.log text
*.ini text
*.nsi text
*.w3f text
*.w3p text
*.w3t text
*.doc binary
*.xls binary
*.ppt binary
*.dot binary
*.mpp binary
*.docx binary
*.xlsx binary
*.pptx binary
*.dotx binary
*.mppx binary
*.rtf binary
*.pdf binary
*.jpg binary
*.png binary
*.gif binary
*.GIF binary
*.bmp binary
*.ico binary
*.eps binary
*.ps binary
*.jar binary
*.tgz binary
*.zip binary
*.gz binary
*.svg binary
