# Sane security settings for SSH clients.
#
# Explanation:
#   http://mochtu.de/2015/01/06/securing-ssh-connections/
# Background: 
#   https://stribika.github.io/2015/01/04/secure-secure-shell.html
#   http://chr4.org/blog/2014/09/13/howto-secure-openssh-newer-versions/
 
Host github.com
  KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
  Hostname ssh.github.com
  Port 443

Host *
  Ciphers chacha20-poly1305@openssh.com,aes128-gcm@openssh.com,aes128-ctr
  KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160
