snippet stles
class ${1:Class} extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Container();$2
  }
}
endsnippet

#-------------------------------------------------------------------------

snippet stful
class ${1:Class} extends StatefullWidget {
  @override
  Widget build(BuildContext context) {
    return Container();$2
  }
}
endsnippet
