snippet html "HTML boilerplate" b
<!DOCTYPE html>
<html>
  <head>
    <title>$1</title>
  </head>
  <body>
    $2
  </body>
</html>
endsnippet

#-------------------------------------------------------------------------

snippet script "Script tag" b
<script src="$1"></script>
endsnippet
