snippet cl "Class definition" b
class ${1:Class}
  def initialize${2:()}
    $3
  end
end
endsnippet

#-------------------------------------------------------------------------

snippet defi "Initialize method" b
def initialize${1:()}
  $2
end
endsnippet


#-------------------------------------------------------------------------

snippet it "Individual spec" b
it "$1" do
  $2
end
endsnippet

#-------------------------------------------------------------------------

snippet rc "Rails controller" b
# frozen_string_literal: true

class ${1:Controller} < ApplicationController
  def index
    $2
  end
end
endsnippet

#-------------------------------------------------------------------------

snippet rm "Rails model" b
# frozen_string_literal: true

class ${1:Model} < ApplicationRecord
  $2
end
endsnippet
