snippet cl
class ${1:Class}
  def initialize${2:()}
    $3
  end
end
endsnippet

#-------------------------------------------------------------------------

snippet it
it "$1" do
  $2
end
endsnippet

#-------------------------------------------------------------------------

snippet rails.c
# frozen_string_literal: true

class ${1:Controller} < ApplicationController
  def index
    $2
  end
end
endsnippet

#-------------------------------------------------------------------------

snippet rails.m
# frozen_string_literal: true

class ${1:Model} < ApplicationRecord
  $2
end
endsnippet
